
img {
  width:100%;
  height:auto;
}

.pause{
  position: absolute;
  font-size: 30px;
  top: 1%;
  left: 1%;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.0); /* Black background with 0.0 opacity */
  color: #f1f1f1;
}

.counter{
  position: absolute;
  font-size: 30px;
  top: 1%;
  left: 85%;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.0); /* Black background with 0.5 opacity */
  color: #f1f1f1;
}
